:root{
    --primary: #FF00A7;
    --dark: #000000;
    --light: #FFFFFF;
}
@font-face {
    font-family: GoboldRegular;
    src: url(../fonty/Gobold/Gobold\ Bold.otf) format('opentype');
}
@font-face {
    font-family: Enriqueta;
    src: url(../fonty/Enriqueta/Enriqueta-Regular.ttf) format('truetype');
}
@font-face{
    font-family: GoboldCuts;
    src: url(../fonty/Gobold/Gobold\ CUTS.otf) format('opentype');
}


html {
    font-family: Enriqueta;
    font-size: 16px;
    color: var(--light);
}
body {
    margin: 0;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
}
main{
    margin: 4rem auto 1rem auto;
    max-width: 80%;
    padding-top: 4rem;
}
a{text-decoration: none;}

h1, h2, h3, h4{font-family: GoboldRegular;}
h2{font-size: 22px}
.hightlight{
    color: var(--primary);
}









/*ÚVOD*/
.body__uvod{
    background: url(../img/img/uvod-background.png);
    background-repeat: no-repeat;
    background-color: var(--dark);
    background-position: center 0%;
    background-size: 100% auto;
}
.main__uvod{
    background: url(../img/img);
    padding: 1rem;
}
.read-more {
    font-family: GoboldRegular;
    background-color: transparent;
    border: 4px solid var(--light);
    color: var(--ligh);
    padding: 1rem 2rem;
}
  
.read-more:hover {
    background-color: var(--light);
    color: var(--primary);
}
.background-pomodoro{
    background: url(../img/img/Pomodoro-background.png);
    background-repeat: no-repeat;
    background-position: center 45%;
}
.background-feynman{
    background: url(../img/img/Feynman-background.png);
    background-repeat: no-repeat;
    background-position: center 45%;
}
.background-leitner{
    background: url(../img/img/Leitner-background.png);
    background-repeat: no-repeat;
    background-position: center 45%;
}
.background-ostatni{
    background: url(../img/img/ostatni-background.png);
    background-repeat: no-repeat;
    background-position: center 45%;
}
.caption__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    backdrop-filter: blur(500000px);
    border: 3px solid var(--light);
    padding: 1rem;
}






/*Feynman Technique*/
.main__feynman{
    background: url(../img/img/Feynman-background-2.png);
}
.header__feynman{
    background: url(../img/img/Feynman-background.png);
    background-position: center 45%;
    background-repeat: no-repeat;
    text-align: end;
    padding: 1rem;
    margin: 0 -1rem;
}
.img__feynman{
    display: inline-block;
    margin: 0 auto;
}
.section__Feynman{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




@media screen and (min-width: 450px) {
    .text__img{
        width: 60%;
    }
    .caption__text{
        width: 80%;
    }
}

@media screen and (min-width: 500px) {
    .slider{
        max-width: 80%;
    }
}
@media screen and (min-width: 750px) {
    .caption__card{
        flex-direction: row;
    }
    .text__img{
        width: 40%;
    }
}
@media screen and (min-width: 990px) {
    .caption__card{
        
    }
    main{
        max-width: 60%;
    }
    
}